<%= form_for @user do |f| %>

<% if @user.errors.any? %>
  <div id="errors">
    <h2><%= pluralize(@user.errors.count, "error") %> prevented this user from saving</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <div>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>

  <div>
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>

  <div>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.submit %>
  </div>

<% end %>